@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(-90deg, rgba(0, 0, 0, 0.04) 1px, transparent 1px),
    linear-gradient(rgba(0, 0, 0, 0.04) 1px, transparent 1px),
    linear-gradient(
      transparent 3px,
      #f2f2f2 3px,
      #f2f2f2 78px,
      transparent 78px
    ),
    linear-gradient(-90deg, #aaa 1px, transparent 1px),
    linear-gradient(
      -90deg,
      transparent 3px,
      #f2f2f2 3px,
      #f2f2f2 78px,
      transparent 78px
    ),
    linear-gradient(#aaa 1px, transparent 1px), #f2f2f2;
  background-size:
    4px 4px,
    4px 4px,
    80px 80px,
    80px 80px,
    80px 80px,
    80px 80px,
    80px 80px,
    80px 80px;
  min-height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 87vh;
}

.paragraph_link {
  color: blue;
}

.project-chip {
  display: inline-block;
  background-color: yellow; /* Post-it note color */
  padding: 1px 10px;
  border-radius: 10px 10px 0 0;
  position: relative;
}

.project-chip:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  border-style: solid;
  border-width: 15px 15px 0;
  border-color: yellow transparent transparent transparent;
}

.hand-drawn-border {
  border: 50px solid black;
  border-image-source: url(/assets/HandDrawnBorder.png);
  border-image-slice: 45%;
  border-image-width: 1925px;
  border-image-repeat: stretch;
}

.tape {
  position: absolute;
  width: 100px; /* Adjust the width of the tape */
  height: 200px; /* Adjust the height of the tape */
  background-image: url("/assets/CornerTape.png"); /* Path to your tape image */
}

.parent {
  position: relative;
}

.overlay {
  position: relative;
  display: inline-block;
}

.main-image {
  max-width: 100%;
  min-width: 300px;
  position: relative;
  top: 0;
  left: 0;
}

.tape-top-right {
  position: absolute;
  top: -3px;
  right: -3px;
  transform: rotate(-45deg);
}

.tape-bottom-right {
  position: absolute;
  bottom: -3px;
  right: -3px;
  transform: rotate(45deg);
}

.tape-bottom-left {
  position: absolute;
  bottom: -3px;
  left: -3px;
  transform: rotate(-45deg);
}

.tape-top-left {
  position: absolute;
  top: -3px;
  left: -3px;
  transform: rotate(45deg);
}

mark {
  background-color: none;
  background: linear-gradient(90deg, #fbf719 50%, rgba(255, 255, 255, 0) 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 5px;
  transform: skewX(-10deg);
}

mark:hover {
  background-color: none;
  background: linear-gradient(90deg, #8cd7ff 50%, rgba(255, 255, 255, 0) 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 5px;
  transform: skewX(-10deg);
}

@-webkit-keyframes highlight {
  to {
    background-position: 0 0;
  }
}

@keyframes highlight {
  to {
    background-position: 0 0;
  }
}

.mark1 {
  -webkit-animation: 1.5s highlight 1.5s 1 normal forwards;
  animation: 1.5s highlight 1.5s 1 normal forwards;
}

/* Animation for the second piece of text */
.mark2 {
  -webkit-animation: 1.5s highlight 3s 1 normal forwards;
  animation: 1.5s highlight 3s 1 normal forwards;
}

/* Animation for the third piece of text */
.mark3 {
  -webkit-animation: 1.5s highlight 4.5s 1 normal forwards;
  animation: 1.5s highlight 4.5s 1 normal forwards;
}
